/* PHASE 12: Modal */
.modal {

}

.modal-screen{
  position: fixed;
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  z-index: 2;
  background: rgba(0,0,0,0.8<section class='modal-screen'></section>);

}

.modal-form {
  position: absolute;
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  width 360px;
  height: 540px;
}
